<!doctype html>
<html lang=es xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado de productos</title>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar(${username}, ${userId})}"></div>
    <div class="container">
        <div class="card" th:each="product: ${products}">
            <p th:text="${product.title}"></p>
            <p th:text="${product.description}"></p>
            <p th:text="${product.price}"></p>
            <img th:src="${product.image}" alt="Imágen del producto">
        </div>
    </div>
</body>
</html>